@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
.App{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(31, 37, 49);
  flex-direction: column;
}

.wrapper{
  width: 500px;
  height: max-content;
  background: #313A48;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  border-radius: 15px;
  padding: 46px 48px 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.id{
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 4.08571px;
  color: #53FFAA;
  margin-bottom: 24px;
}

.title{
  text-align: center;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #CEE3E9;
  margin-bottom: 40px;
}
.linie{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.lini{
  width: 200px;
  height: 1px;
  background: #4F5D74;
}

img{
  user-select: none;
}

button{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  user-select: none;
  transition: .2s;
  border: 0;
  background: #53FFAA;
  margin-top: -30px;
  cursor: pointer;
}
button:hover{
  background: #53FFAA;
  box-shadow: 0px 0px 40px #53FFAA;
}
button:active{
  transition: .2s;
    transform: rotate(-360deg);
}



@keyframes ldio-46imby4dpuq {
   0% { transform: translate(12px,80px) scale(0); }
  25% { transform: translate(12px,80px) scale(0); }
  50% { transform: translate(12px,80px) scale(1); }
  75% { transform: translate(80px,80px) scale(1); }
 100% { transform: translate(148px,80px) scale(1); }
}
@keyframes ldio-46imby4dpuq-r {
   0% { transform: translate(148px,80px) scale(1); }
 100% { transform: translate(148px,80px) scale(0); }
}
@keyframes ldio-46imby4dpuq-c {
   0% { background: #6386ae }
  25% { background: #cbcec4 }
  50% { background: #2f75c5 }
  75% { background: #519198 }
 100% { background: #6386ae }
}
.ldio-46imby4dpuq div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(80px,80px) scale(1);
  background: #6386ae;
  animation: ldio-46imby4dpuq 1s infinite cubic-bezier(0,0.5,0.5,1);
}
.ldio-46imby4dpuq div:nth-child(1) {
  background: #519198;
  transform: translate(148px,80px) scale(1);
  animation: ldio-46imby4dpuq-r 0.25s infinite cubic-bezier(0,0.5,0.5,1), ldio-46imby4dpuq-c 1s infinite step-start;
}.ldio-46imby4dpuq div:nth-child(2) {
  animation-delay: -0.25s;
  background: #6386ae;
}.ldio-46imby4dpuq div:nth-child(3) {
  animation-delay: -0.5s;
  background: #519198;
}.ldio-46imby4dpuq div:nth-child(4) {
  animation-delay: -0.75s;
  background: #2f75c5;
}.ldio-46imby4dpuq div:nth-child(5) {
  animation-delay: -1s;
  background: #cbcec4;
}
.loadingio-spinner-ellipsis-e29679tarsf {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-46imby4dpuq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-46imby4dpuq div { box-sizing: content-box; }
/* generated by https://loading.io/ */